html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #faed00;
  font-family: "Libre Franklin", sans-serif;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
