html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 1rem;
  background-color: #f3e599;
  font-family: "Libre Franklin", sans-serif;
  color: #46464a;
}

h2 {
  background-color: #faed00;
  border-block-end: 2px solid black;
  color: black;
  padding: 1rem;
  font-size: 2.2rem;
  font-weight: 600;
  margin-block-end: 2rem;
}

.input-block {
  margin-block-end: 1rem;
}

.input-label {
  display: inline-block;
  width: 13rem;
  font-weight: 500;
}

input {
  font-family: "Libre Franklin", sans-serif;
  width: 40%;
  padding: 0.6rem;
}

button {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 4px;
}

.input-button {
  margin: 1rem 0 2rem 0;
  padding: 0.8rem;
  width: 10rem;
}

.input-button:hover {
  transition: color 0.2s;
  color: rgb(29, 164, 29);
  background-color: white;
}

.delete-button:hover {
  transition: color 0.2s;
  color: rgb(250, 39, 57);
  background-color: white;
}

li {
  margin-block-end: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
}

.p-width {
  width: 20rem;
  border-block-end: 1px dotted grey;
}

.message-successful {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 93%;
  color: green;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid green;
  border-radius: 4px;
  padding: 3rem;
  /* background-color: white; */
  background-color: rgb(218, 250, 203);
  text-align: center;
}

.message-error {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 93%;
  color: red;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid red;
  border-radius: 4px;
  padding: 2rem;
  /* background-color: white; */
  background-color: rgb(255, 190, 190);
  text-align: center;
}
